@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

html {
    -webkit-appearance: none;
    font-family: 'Nanum Gothic', sans-serif;
}

body {
    text-align: center;
}
.hidden {
    display: none;
}
.background {
    min-height: 100vh;
    min-width: 100vw;
    left:0;
    top:0;
    position:fixed;
    background-position: center;
    background-size: cover;
    z-index: -999;   
}

#clock{
    color: #F0F0F0;
    text-shadow: 2px 2px #B4B4B4;
    font-size: 32pt;
    opacity: 0.8;
}

#weather {
  position: fixed;
  top:1%;
  right:1%;
  font-size: 18pt;
  color: #CCCCCC;
}

#login-form {
  position: relative;
}

#todo-form {
  position: fixed;
  right:1%;
  bottom:20%;
}

#login-form input, #todo-form input {
  border: none;
  height: 22pt;
  max-width: 80vw;
  font-size: 20pt;
  background-color: rgba(204, 204, 204, 0.8);
  font-family: 'Nanum Gothic', sans-serif;
}

#quote{
    position:fixed;
    bottom: 1%;
    width:100%;

    color: #F0F0F0;
    -webkit-text-stroke: #CCCCCC;
    opacity: 0.8;
}
