@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
}
.hidden {
    display: none;
}

html {
    -webkit-appearance: none;
    font-family: 'yg-jalnan', sans-serif;
}

@media (max-width: 600px){
	html {
		font-size: 0.5em;
	}
}

body {
    text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.mini {
	height: 50px;
	transition: height 0.5s 0.5s;
}
.large {
	height: 300px;
	transition: height 0.5s;
}
.background {
    min-height: 100vh;
    min-width: 100vw;
    left: 0;
    top: 0;
    position: fixed;
    background-position: center;
    background-size: cover;
    z-index: -999;
}

.disappear {
	opacity: 0;
	transition: opacity 0.5s;
}

.appear {
	opacity: 1;
	transition: opacity 0.5s 0.5s;
}

#weather {
	margin-top: 10%;
    font-size: 2rem;
    color: #fff;
	font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
    text-shadow: 0px 0px 5px #aaa;
}

#clock {
    color: #ffffff;
    text-shadow: 0px 0px 10px #b4b4b4;
    font-size: 7rem;
    font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
	margin: 0;
}

#login {
    height: 30rem;
    display: flex;
    justify-content: center;
	flex-direction: column;
}

#login-form {
    position: relative;
}

h1#greeting {
    font-size: 5rem;
    color: #ffffff;
    text-shadow: 0px 0px 10px #b4b4b4;
}

#todo {
    background-color: rgba(204, 204, 204, 0.8);
	border-radius: 1rem;
	max-width: 400px;
	width: 50%;
}


#login-form input,
#login-form input::placeholder,
#login-form button,
#todo-form input,
#todo-form input::placeholder,
#todo button {
    border: none;
    max-width: 160vw;
    font-size: 2rem;
	border-radius: 1rem;
    color: rgba(238, 238, 238, 0.8);
    background-color: rgb(50, 50, 50, 0.4);
    font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
}

#login-form input,
#login-form input::placeholder,
#login-form button {
    font-size: 3rem;
}

#todo button {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(50, 50, 50, 0.8);
    font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
}

#todo-form {
    display: flex;
    flex-direction: column;
}

#todo-list li {
    list-style: url('https://i.imgur.com/5CXNrE5.png');
    text-align: left;
    font-size: 2rem;
}

#todo-list button {
    background-color: #ddd;
    border: 1px #fff;
    border-radius: 1rem;
    color: red;
    font-size: 1.5rem;
    margin: 5px;
}

#quote {
	position:fixed;
    bottom: 1%;
    width: 100%;
    color: #f0f0f0;
    -webkit-text-stroke: #cccccc;
    opacity: 0.8;
	font-size: 1.5rem;
}